@tileWidth: 72px;
@tileHeight: 72px;
//@basicBackground: Linen;
@basicBackground: #fafafa;
@darkerBackground: #eae0d6;
@borderColour: #292929;

@radialCenterColour: #5e0000;
@radialEndColour: #000;

@startColour: #16161c;
@endColour: #01020a;

@textColour: #454545;

@uxSize: 15px;
@uxBorder: 2px;

@buttonColour: #2e2f16;
@buttonColourBorder: #2f2c1e;
@buttonRadius: 3px;

header, nav, section, article, aside, footer {
  display: block;
}

@cardWidth: 25em;
@labelWidth: 5em;
#editor_tools {
  position: fixed;
  top: 0;
  left: 0;
  border: @borderColour 1px solid;
  margin: 5px;
  padding: @uxSize;
  background-color: @basicBackground;
  color: @textColour;
  overflow: hidden;
  label {
    white-space: nowrap;
  }
  .row {
    display: table-row;
    > * {
      display: table-cell;
    }
    > input {
      width: 25em;
    }
  }
  &.expanded {
    width: 30em;
  }
  &.collapsed {
    width: @uxSize;
    height: @uxSize;
    padding: 0;
  }
  .buttons {
    button {
      float: left;
    }
  }
}

#root_data {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: @cardWidth * 1.3;
  z-index: -20;
  padding-top: 30px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.ux {
  display: block;
  position: absolute;
  width: @uxSize - @uxBorder;
  height: @uxSize - @uxBorder;
  line-height: @uxSize - @uxBorder;
  font-size: @uxSize - @uxBorder;
  font-weight: bolder;
  border: @uxBorder outset #cc95bc;
  background-color: #cc95bc;
  color: #2e0824;
  text-align: center;
  cursor: pointer;
  &.top-left {
    top: 0;
    left: 0;
  }
}
.required{
  background-color: #c6f0ff;
}
.expanded {
  .ux.expand {
    display: none;
  }
}

.collapsed {
  .ux.collapse {
    display: none;
  }
}

.card {
  width: @cardWidth;
  max-width: 100%;
  .label {
    width: @labelWidth;
    display: inline-block;
  }
  .value {
    width: (@cardWidth - @labelWidth);
    display: inline-block;
  }
  .cell {
    display: inline-block;
  }
}

label.line {
  display: block;
}

section section {
  margin: .3em;
  padding: .3em;
  border: 1px solid #696969;
  h1 {
    margin: .1em 0 .1em 0
  }
  header p {
    margin: 0;
    font-size: .8em;
  }
  .new {
    background: #aab8ff;
  }
  .error {
    background: #ff2b1c;
  }
}
